{# src/Esecouristes/UserBundle/Resources/views/layout.html.twig #}

{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Esecouristes - Connexion</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div id="header" class="hero-unit">
        <h1>Esecouristes</h1>
      </div>

      <div class="row">
        <div id="login" class="span12">
            {% if error %}
                <div class="alert alert-error">{{ error|trans }}</div>
            {% endif %}
            
            <form action="{{ path("fos_user_security_check") }}" method="post" class="span4 offset4">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />

                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <span>{{ 'security.login.remember_me'|trans }}</span>
                </label>
                
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
            </form>
        </div>
      </div>

      <hr>

      <footer>
        <p>Ce projet est propulsé par Symfony2, et construit grâce au tutoriel du siteduzero.</p>
      </footer>
    </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
  {% endblock %}

  </body>
</html>
